*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #e5e5e5;
}

header{
    text-align: center;
    padding: 10px;
}

header img{
    max-width: 900px;
    width: 100%;
}

/* Search Section */
.searchSection{
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    

}


.search{
    outline: none;
    padding: 5px 15px;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid black;
    font-size: 18px;
    text-align: center;
    margin: 20px;
}

.number{
    outline: none;
    padding: 5px 15px;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid black;
    font-size: 18px;
    text-align: center;
    margin: 20px;

}

form{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.find{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    outline: none;
    background-color: #4a73f8;
    margin: 30px;
    padding: 5px 10px;
    cursor: pointer;
    font-weight: 900;
}

.changeButton{
    border: none;
    outline: none;
    background-color: #4a73f8;
    margin: 30px;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
}

.instructions{
    font-size: 20px;
    background-color: #4a73f8;
    padding: 20px 40px;
    border-radius: 30px;
}




/* Card */
.pokemon-list{
    max-width: 1700px;
    width: 100%;
    margin: 0 auto;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}


.card{
    width: 250px;
    height: 440px;
    margin: 10px;
    box-shadow: 0 0 10px black;



}

.card p{
    height: 40px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #141414;
    color: wheat;
}

.card img{
    width: 250px;
    padding: 30px;
    height: 350px ;
    object-fit: contain;
}

.card h2{
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-style: italic;
    text-transform: uppercase;
    background-color: #141414;
    color: wheat;
}







.img1{
 display: none;
 
}

.img2{
    display: none;
}

.active{
    display: block;
}

.hide{
    display: none;
}

@media only screen and (max-width: 900px){
    .searchSection{
        flex-direction: column;
    }
}